.recommendDetails_wrap {
  width: 100%;
  height: 100%;
  position: relative;

  .steps-component {
    //하단 불릿
    .steps-navigator {
      display: none !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 50px;
      left: 40%;
      width: 60px;
      z-index: 99;
      > li {
        cursor: pointer;
        color: #d7d7d7;
        background-color: #d7d7d7;
        width: 10px;
        height: 10px;
        font-size: 0.3rem;
        border-radius: 50%;
        &.active-step {
          color: #0082dd;
          background-color: #0082dd;
        }
      }
    }
    //이전/ 다음 버튼
    .steps-nav {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      button {
        border: none;
        color: transparent;
        font-size: 1px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
        z-index: 99;
        position: absolute;
        &.steps-nav-prev {
          // margin: 20px 0 0 20px;
          left: 20px;
          top: 20px;
          z-index: 99;
          &::after {
            content: '';
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../../assets/icons/icon_back.png') no-repeat center center;
          }
        }
        &.steps-nav-next {
          left: 325px;
          top: 350px;
          transform: translateY(-50%);
          z-index: 99;
          &::after {
            content: '';
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../../assets/icons/icon_next.png') no-repeat center center;
          }
        }
      }
    }
  }

  //step
  .steps-content {
    .step-item {
      width: 100%;
      height: 100%;
      position: relative;
      .step {
        width: 100%;
        height: 100vh;
        border-radius: 30px;
        background-color: #fff;
        &.step2,
        &.step4 {
          background-color: #33434d;
        }
        .step_layout {
          width: 93%;
          height: 100%;
          border-top-right-radius: 70px;
          border-bottom-right-radius: 70px;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          background-color: #33434d;
          box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.5);
          &.step2,
          &.step4 {
            background-color: #fff;
          }
        }
      }
      .step_con {
        padding: 50px 30px;
        > ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
        }
      }

      //step1
      .step1 {
        .step_con {
          width: 90%;
          margin: 0 auto;
          h2 {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 90px 0 30px 0;
            // animation: question 2s forwards;
          }
          ul {
            text-align: center;

            li {
              width: 32%;
              cursor: pointer;

              .li_img {
                background-color: #fff;
                border: 3px solid #fff;
                height: 70px;
                width: 70px;
                margin: 0 auto;
                border-radius: 10px;
                position: relative;
                > img {
                  position: absolute;
                  top: 50%;
                  left: 50;
                  transform: translate(-50%, -50%);
                }
              }
              .li_txt {
                color: #fff;
                padding: 3px 0 7px 0;
              }
              &.active {
                .li_img {
                  border-color: #0082dd;
                }
                .li_txt {
                  color: #0082dd;
                  font-weight: 700;
                }
              }

              &:hover {
                animation: fun 0.5s infinite;
                .li_img {
                  border-color: #0082dd;
                }
                .li_txt {
                  color: #0082dd;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }

      .step2 {
        .step_con {
          width: 90%;
          margin: 0 auto;
          h2 {
            color: #555;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 90px 0 50px 0;
            // animation: question 2s forwards;
          }
          .con_box {
            width: 240px;
            margin: 25px 0;
            border-radius: 10px;
            padding: 7px 0;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 3px solid #fff;
            cursor: pointer;
            &.active {
              border-color: #0082dd;
              color: #0082dd;
              .con_txt {
                font-weight: 700;
              }
            }
            .con_txt {
              font-size: 1.3rem;
              width: 60%;
              text-align: right;
              letter-spacing: 15px;
            }
            .con_img {
              width: 35%;
              text-align: center;
              > img {
                margin: 0 auto;
              }
            }
            &:hover {
              animation: beat 2s infinite;
            }
          }
        }
      }

      .step3 {
        .step_con {
          width: 98%;
          margin: 0 auto;
          h2 {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 50px 0 30px 0;
            // animation: question 2s forwards;
          }
          ul {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            li {
              width: 49%;
              cursor: pointer;
              .li_img {
                background-color: #fff;
                border: 3px solid #fff;
                height: 110px;
                width: 110px;
                margin: 0 auto;
                border-radius: 10px;
                position: relative;
                > img {
                  position: absolute;
                  top: 50%;
                  left: 50;
                  transform: translate(-50%, -50%);
                }
              }
              .li_txt {
                color: #fff;
                padding: 3px 0 7px 0;
              }
              &.active {
                .li_img {
                  border-color: #0082dd;
                }
                .li_txt {
                  color: #0082dd;
                  font-weight: 700;
                }
              }
              &:hover {
                animation: beat 2s infinite;
                .li_img {
                  border-color: #0082dd;
                }
                .li_txt {
                  color: #0082dd;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }

      .step4 {
        .step_con {
          width: 90%;
          margin: 0 auto;
          h2 {
            color: #555;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 40px 0 20px 0;
            // animation: question 2s forwards;
          }
          .con_box {
            width: 44%;
            margin: 10px 6px;
            border-radius: 10px;
            padding: 7px 0;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
            display: inline-block;
            border: 3px solid #fff;
            cursor: pointer;
            &.active {
              border-color: #0082dd;
            }
            .con_txt {
              font-size: 1rem;
              width: 100%;
              text-align: center;
              // letter-spacing: 15px;
              &.active {
                color: #0082dd;
                font-weight: 700;
              }
            }
            &:hover {
              animation: beat 2s infinite;
              border-color: #0082dd;
              .con_txt {
                color: #0082dd;
                font-weight: 700;
              }
            }
          }
        }
      }

      //result
      .result {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .result_wrap {
          padding: 10px 10px;
          height: 80vh;
          border-radius: 30px;
          background-color: #fff;
          overflow: auto;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
          &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
          }
          h2 {
            font-weight: 700;
            color: #333;
            font-size: 1.4rem;
          }
          .home_btn {
            border: 2px solid #fff;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 15px;
            margin: 0 20px;
            margin-right: 30px;
            cursor: pointer;
            background-color: transparent;
          }

          .next_btn {
            vertical-align: top;
            border: 2px solid #33434d;
            background-color: transparent;
            display: inline-block;
            padding: 5px 50px;
            border-radius: 15px;
            cursor: pointer;
            transition: 1s;
            color: #33434d;
            font-size: 1.2rem;
            font-weight: 700;

            &:hover {
              background-color: #fff;
              animation: beat 2s infinite;
              button {
                color: #33434d;
              }
            }
          }
          > ul {
            width: 100%;
            li {
              padding: 5px 0;
              > span {
                font-weight: 700;
                color: #333;
                font-size: 1.2rem;
              }
              font-size: 1rem;
            }
            .img {
              width: 100%;
              text-align: center;
              img {
                width: 20%;
              }
            }
          }
        }
        .result_wrap_blank {
          height: 50vh;
          text-align: center;
          font-size: 1.2rem;
          padding: 30px 10px;
        }
      }
    }
  }
}

.next-Btn {
  position: absolute;
  top: 0;
  left: 0;
  button {
    border: none;
    color: transparent;
    font-size: 1px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
    position: absolute;
    left: 325px;
    top: 350px;
    transform: translateY(-50%);
    z-index: 99;
    &::after {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background: url('../../assets/icons/icon_next.png') no-repeat center center;
    }
  }
}

.start-Btn {
  > button {
    border: none;
    background-color: #0082dd;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
  }
}

.start_wrap {
  background-color: #33434d;
  width: 100%;
  height: 100vh;
  padding: 50px 15px;
  .start_img {
    width: 80%;
    margin: 0 auto;
    > img {
      width: 100%;
    }
  }
  .start_txt {
    padding: 50px 30px;
    text-align: center;
    h2 {
      font-size: 1.5rem;
      color: #fff;
      text-align: left;
    }
  }
  .home_btn {
    border: 3px solid #fff;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 15px;
    margin: 0 20px;
    margin-right: 30px;
    cursor: pointer;
  }

  .next_btn {
    vertical-align: top;
    border: 3px solid #fff;
    display: inline-block;
    padding: 8px 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
    // animation: lineUp 2s forwards;
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
    }

    &:hover {
      background-color: #fff;
      animation: beat 2s infinite;
      button {
        color: #33434d;
      }
    }
  }
}

//animation
@keyframes beat {
  0% {
    transform: rotate(0) scale(0.95);
  }
  25% {
    transform: rotate(5deg) scale(1);
  }
  50% {
    transform: rotate(0) scale(0.95);
  }
  75% {
    transform: rotate(-5deg) scale(1);
  }
  100% {
    transform: rotate(0) scale(0.95);
  }
}
@keyframes question {
  0% {
    transform: rotate(0) scale(0.95);
  }
  50% {
    transform: rotate(-4deg) scale(1) translateY(-10px);
  }
  100% {
    transform: rotate(0) scale(0.95);
  }
}
@keyframes fun {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes startS1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lineUp {
  0% {
    transform: translateX(1000%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
