@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@400;500;700;900&family=Roboto:ital,wght@0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');
$prime-color: #33434d;
$sub-prime-color: #0082dd;
$hilight: #f7f5e6;

* {
  // font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  font-family: 'Harmony_L', sans-serif;
}

#root {
  width: 375px;
  margin: 0 auto;
  //*하정 : 임시로 보더라인 잡아두겠습니다!!
  border: 1px solid #d7d7d7;
}

@font-face {
  font-family: 'Harmony_B';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Harmony_B.ttf');
}
@font-face {
  font-family: 'Harmony_L';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Harmony_L.ttf');
}
@font-face {
  font-family: 'Harmony_M';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Harmony_M.ttf');
}
.bold {
  font-family: 'Harmony_B', sans-serif;
}
.medium {
  font-family: 'Harmony_M', sans-serif;
}

.prime-color {
  color: $prime-color;
}

.sub-prime-color {
  color: $sub-prime-color;
}

.highlight-color {
  color: $hilight;
}

// layout
.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.position-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.margin-0 {
  margin: 0;
}
.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-45 {
  margin-top: 45px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-35 {
  margin-right: 35px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-45 {
  margin-right: 45px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-55 {
  margin-bottom: 55px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-30 {
  margin-left: 30px;
}

// display
.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.d-flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.d-flex-end {
  display: flex !important;
  justify-content: flex-end !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.padding-none {
  padding: 0 !important;
}

.border-none {
  border: 0 !important;
}

.box-shadow-none {
  box-shadow: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

// text
.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}

.white-space-nowrap {
  white-space: nowrap;
}

.line-height-sm {
  line-height: 1 !important;
}

.line-height-base {
  line-height: 1.2 !important;
}

.line-height-15 {
  line-height: 1.5 !important;
}

.line-height-md {
  line-height: 1.82 !important;
}

.line-height-lg {
  line-height: 2 !important;
}

.line-height-xl {
  line-height: 2.5 !important;
}

// animation
.animation--disabled {
  animation: 0s !important;

  &::before,
  &::after {
    animation: 0s !important;
  }
}

// module

.text-shadow {
  color: initial;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.br-p {
  margin-bottom: 0 !important;
}

.ant-dropdown-menu {
  background-color: black !important;
  &-item:hover {
    background-color: #dc4a3d !important;
  }
}

.color-white {
  color: #ffffff !important;
}

.color-black {
  color: #000000 !important;
}

// opacity
.opacity-3 {
  opacity: 0.3 !important;
}

.opacity-4 {
  opacity: 0.4 !important;
}

.opacity-5 {
  opacity: 0.5 !important;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.opacity-7 {
  opacity: 0.7 !important;
}

.opacity-8 {
  opacity: 0.8 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

// font
p,
span,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'GothicA1-Regular', sans-serif;
}

a {
  color: #fff;
}

// mobile
//50px
.home_title {
  color: #fff;
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'GothicA1-Bold', sans-serif;
}

//26px
.sub_title {
  line-height: 1.82 !important;
  font-size: 26px !important;
  color: #fff !important;
}

a {
  display: inline-block;
}

//shop custom

.option2:nth-child(2n-1),
.shipping:nth-child(2n-1) {
  margin-left: 25px;
  transition: 0;
}

.mainpd {
  padding: 15px;
  flex: 1;
}
