.community {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0.1px #ddd;
  display: flex;
  flex-direction: column;
  padding: 12px;
  .community__top {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .community__top__nickname {
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      span {
        font-family: 'Harmony_L';

        height: 2rem;
        width: 2rem;
        background-color: #33434d;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }
    .community__top__title {
      width: 16.5rem;
    }
  }
  .community__middle {
    flex: 2;
  }
  .community__bottom {
    padding-top: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: end;
    button {
      width: 3.5rem;
      height: 1.75rem;
      background-color: #fff;
      font-size: 0.8rem;
      color: #33434d;
      text-align: center;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid #33434d;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;

      &:hover {
        background-color: #33434d;
        color: #fff;
      }
    }
  }
}
