.progtrckr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > li {
    cursor: pointer;
    color: #d7d7d7;
    background-color: #d7d7d7;
    width: 15px;
    height: 15px;
    font-size: 0.3rem;
    border-radius: 50%;
    &.progtrckr-doing {
      color: #33434d;
      background-color: #33434d;
    }
  }
}

.recomendDetails_wrap {
  width: 340px;
  background-color: rgb(98, 95, 114);
  height: 100%;
}
