.community {
  width: 100%;
  height: 197px;
  padding: 12px;
  box-sizing: border-box;
  .community__box {
    width: 100%;
    height: 171px;
    background: #fff;
    border-radius: 8px;
    padding: 0 12px;
    box-shadow: 0px 0px 5px 0.1px #ddd;
    display: flex;
    .community__box__right {
      margin-left: 12px;
      padding: 12px 12px;
      width: 100%;
      .community__box__right__title {
        border-bottom: 0.5px solid #ddd;
        height: 46px;
        input {
          width: 100%;
        }
      }
      .community__box__right__content {
        height: 125px;
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .community__box__right__content__input {
          border-bottom: 0.5px solid #ddd;
          height: 51px;
          input {
            width: 100%;
          }
        }
        .community__box__right__content__btn {
          border-bottom: 0.5px solid #ddd;
          height: 50px;
        }
      }
    }
    .community__box__left {
      height: 171px;
      width: 50px;
      position: relative;
      .community__box__left__box {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        text-align: center;
        position: absolute;
        line-height: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
